// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";


* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dot{
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
}

nav {
    border-radius: 16px;
}

.contact-btn{
    background-color: #F6F7F4;
    border-radius: 8px;
}

.menu-btn{
    background-color: black;
    border-radius: 8px;
    color: #F0F0F0;
}

#hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.input-sastra{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 30px 0px #00000014;
    backdrop-filter: blur(5px)

}

.dropdown-toggle-lp::after {
    display: none !important;
}

.dropdown-toggle-lp{
    color: #BFBFBF;
    background-color: #FFFFFF;
}

.search-kamar-btn{
    background: linear-gradient(85.66deg, #FFBF00 -5.78%, #022512 66.73%);
}

.data-img-container{
    background-color: #ECFFCE;
    border-radius: 16px;
}

.data-title{
    color: #696C71;
    font-size: 22px;
}
.data-desc{
    color: #696C71;
    font-size: 14px;
}

.selayang-pandang-btn{
    background-color: #ECFFCE;
    border-radius: 16px;
}

.vid-btn{
    background: linear-gradient(85.66deg, #FFBF00 -5.78%, #022512 66.73%);
    border-radius: 16px;
    border: 10px solid rgba(255, 255, 255, 0.36);
    background-clip: padding-box;
}

    .jenis-kamar-item {
        height: 300px;
        padding: 0; /* biar padding dari g-3 yang bekerja */
        overflow: hidden; /* supaya gambar tidak keluar dari area card */
        border-radius: 0.375rem; /* sama dengan .rounded */
    }

    .overlay-hover {
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        display: flex; /* langsung flex dari awal */
        flex-direction: column;
    }

    .jenis-kamar-item .overlay,
    .jenis-kamar-item .position-absolute.bottom-0 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .jenis-kamar-item:hover .overlay,
    .jenis-kamar-item:hover .position-absolute.bottom-0 {
        opacity: 0;
        visibility: hidden;
    }

    .jenis-kamar-item:hover .overlay-hover {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }


    .jenis-kamar-item .jenis-item-bg,
    .jenis-kamar-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit; /* ikut border parent */
        background: linear-gradient(185.12deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 96.24%);
    }
.jenis-kamar-item .overlay {
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */

    pointer-events: none; /* biar overlay nggak ganggu klik */
}

.jenis-kamar-item span{
    font-size: 32px;
    font-weight: 500;
}

.narasi-btn{
    background-color: rgba(236, 255, 206, 1);
    color: rgba(2, 37, 18, 1);
    border-radius: 18px;
}

.berita-title-item {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


    .berita-wrapper {
        height: 100%; /* biar mengikuti container luar */
    }
    .berita-container {
        height: 500px; /* tinggi tetap yang jadi acuan */
    }

    .berita-item {
    flex: 0 0 auto; /* supaya tidak memaksa tumbuh */
    height: 100px;  /* contoh tinggi tetap */
    }

    .author-text-item{
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        color: rgba(152, 162, 179, 1);
    }
